body {
	background-color: rgb(16,16,16);
	margin: 0;
}

header, footer {
	display: block;
}

header {
	background: rgb(16,16,16) url("dark.jpg") no-repeat;
}

.container {
	color: rgb(213,204,167);
	font-family: 'Fjalla One', Arial, sans-serif;
	font-size: 1.5rem;
	min-width: 320px;
}

header h1 {
	color: rgb(207,29,22);
	font-size: 4rem;
	letter-spacing: -0.05em;
	margin: 0;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

header h1 span {
	display: block;
	font-size: 0.625em;
	letter-spacing: normal;
}

#checker {
	background-color: rgb(16,16,16);
	border-top: 2px solid rgb(207,29,22);
	padding: 0 5%;
	text-align: center;
}

#checker p {
	margin: 0.5em 0;
}

form {
	line-height: 2.5;
}

input {
	background-color: rgb(16,16,16);
	border-radius: 10px;
	border: 2px solid rgb(207,29,22);
	color: rgb(213,204,167);
	font-family: 'Fjalla One', Arial, sans-serif;
	font-size: 1em;
	margin: 0 0.3125rem;
	outline: none;
	padding: 0.3125rem 0.625rem;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#day {
	text-align: center;
	width: 3.75rem;
}

#submit {
	cursor: pointer;
}

footer {
	border-top: 2px solid rgb(207,29,22);
}

footer p {
	font-size: 0.6rem;
	margin: 0;
	padding: 0.5rem;
	text-align: right;
}

@media only screen and (min-width: 360px) and (orientation: portrait), screen and (min-width: 1024px) {
	footer {
		bottom: 0;
		left: 0;
		position: fixed;
		width: 100%;
	}
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
	#checker {
		padding: 10%;
	}
}

@media only screen and (min-width: 414px) and (orientation: landscape) {
	#checker {
		padding: 5%;
	}
}

@media only screen and (min-width: 601px) {
	header h1 {
		font-size: 5rem;
	}
}

@media only screen and (min-width: 768px) {
	header h1 {
		font-size: 6rem;
	}
}

@media only screen and (min-width: 906px) {
	#checker {
		padding: 8%;
	}
}

@media only screen and (min-width: 1024px) {
	header h1 {
		font-size: 7rem;
	}
}

@media only screen and (min-width: 1200px) {
	header h1 {
		font-size: 8rem;
	}
}

@media only screen and (min-width: 1366px) {
	form {
		padding: 1em;
	}
}

@media only screen and (min-width: 1600px) {
	header h1 {
		font-size: 9rem;
	}
}# 7dtd_bmc
